<h1>Contact</h1>
<div class="row">
  <div class="col-md-6 col-sm-8">
    <form ng-submit="$ctrl.onSubmit()" name="formlyForm" novalidate>
      <formly-form model="$ctrl.model" fields="$ctrl.fields" options="$ctrl.options" form="formlyForm">
        <!--ng-disabled="formlyForm.$invalid"-->
        <button type="submit" class="btn btn-primary submit-button">Submit</button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.options.resetModel()">Reset</button>
      </formly-form>
    </form>
  </div>
</div>