<h1>Documents</h1>

<div class="btn-group" role="group">
  <a
    ng-repeat="filterType in $ctrl.filterTypes track by $index"
    class="btn btn-default"
    ng-link="['Documents', {filter: filterType }]">{{filterType}}</a>
</div>

<p> Showing just <b>{{$ctrl.filter}}</b> documents </p>

<dtable
  options="$ctrl.options"
  rows="$ctrl.data"
  on-select="$ctrl.onSelect(rows)"
  class="material dt">
  <column name="Title" prop="title"></column>
  <column name="Created by" prop="createdBy" ></column>
  <column name="Modified by" prop="modifiedBy"></column>
  <column name="Created date" prop="createdDate"></column>
  <column name="Modified date" prop="modifiedDate"></column>
</dtable>

<div ng-if="$ctrl.detailData">
  <h2> Detail </h2>
  <formly-form model="$ctrl.detailData" fields="$ctrl.fields" options="$ctrl.formOptions" form="formlyForm">
</div>
